<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.alma2k16">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyATKuGaOue-1weAtnPJpcMVY6oRnaV6Wy4"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".menu1" android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".dance"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".litrary"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".finearts"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".music"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".drama"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".more"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".Contactus"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".workshop"

            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".salsaa"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".selfdfnce"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>





        <activity android:name=".mviemkng"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>







        <activity android:name=".facebook" android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".youtube" android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".twitter" android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>


        <activity android:name=".maps" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>

    </intent-filter>

    </activity>

        <activity android:name=".gallery"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>
        <activity android:name=".extramor"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>
        <activity android:name=".hiphope"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory="true">


            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>


    </application>

</manifest>
